{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<!-- Comment for home.html loaded. For testing, do not remove -->

<h1>Pets</h1>

<div>
  {% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
  {% endfor %}
</div>

{% for pet in pets %}

<div class="d-flex flex-column">
  {% if pet.photo_url != "" %}
  <img src="{{ pet.photo_url }}" alt="pet photo" class="img-thumbnail w-25">
  {% endif %}
  <a href="/{{ pet.id }}">
    <p>{{ pet.name }}
      {% if pet.available %}
      <b>is available!</b>
      {% endif %}
    </p>
  </a>
</div>

{% endfor %}

<a href="/add" class="btn btn-primary">Add Pet</a>


{% endblock content %}